<app-navbar (onEdit)="toggleEdit()"></app-navbar>
<div class="board">
  <div class="container">

      <div *ngIf="editMode" class="row" [dragula]="widget-bag" [dragulaModel]="widgets">
        <div *ngFor="let widget of widgets" [class]="widget.colSize">
          <div class="widget-edit">
            <a class="clickable" data-toggle="modal" data-target="#editWidgetModal">
              <span class="glyphicon glyphicon-edit widget-edit-btn" aria-hidden="true" (click)="setEdibleWidget(widget.pos, widget.__t)"></span>
            </a>
            <span class="glyphicon glyphicon-remove widget-remove-btn" aria-hidden="true" (click)="removeWidget(widget.pos)"></span>
            <widget-wrapper [type]="types[widget.__t]" [widgetdata]="widget"></widget-wrapper>
          </div>
        </div>

        <!-- Add widget modal -->
        <div id="addWidgetModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Widget</h4>
              </div>
              <div class="modal-body">

                <div class="widget-settings" class="widget-settings-container">
                    <form>
                      <h5>Widget</h5>
                      <select name="type" class="dropdown" (change)="setEdibleWidget(null, $event.target.value)" [(ngModel)]="newWidgetType">
                        <option value="WelcomeComponent">Welcome</option>
                        <option value="CoversComponent">Covers</option>
                        <option value="TodoComponent" selected>Todo List</option>
                        <option value="WeatherComponent">Weather</option>
                        <option value="NewsRssComponent">RSS News</option>
                        <option value="QuotesComponent">Quotes</option>
                      </select>
                      <widget-settings [type]="newWidgetType" [pos]="null" (created)="createWidget($event)"></widget-settings>
                  </form>
                </div>
              </div>

            </div>



          </div>
        </div>

        <!-- Edit widget modal -->
        <div id="editWidgetModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Widget</h4>
              </div>
              <div class="modal-body">

                <div class="widget-settings" class="widget-settings-container">
                    <widget-settings [type]="edibleWidget.type" [pos]="edibleWidget.pos" (edited)="editWidget($event)"></widget-settings>
                </div>
              </div>

          </div>
        </div>

      </div>
    </div>

    <div *ngIf="!editMode" class="row">
      <div *ngFor="let widget of widgets" [class]="widget.colSize">
          <widget-wrapper [type]="types[widget.__t]" [widgetdata]="widget"></widget-wrapper>
      </div>
    </div>

  </div>
</div>
