.col-md {
  text-align: justify;
}

.loading-spinner {
  padding-top: 100px;
  text-align: center;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 32px; /* So we can drag into rows that are empty*/
}

.widget-edit {
  opacity: 0.8;
  position: relative;
}

.widget-edit:hover{
  cursor: move;
  opacity: 1;
}

.widget-edit-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.widget-remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.widget-remove-btn:hover {
  color: red;
}

.widget-edit-btn:hover {
  color: green;
}

#addWidgetModal {
  padding-top: 15%;
}

#addWidgetButton {
  width: 100px;
}
