<app-navbar (onEdit)="toggleEdit()"></app-navbar>
<div class="board">
  <div class="container">

      <div *ngIf="editMode" class="row" [dragula]="widget-bag" [dragulaModel]="widgets">
        <div *ngFor="let widget of widgets" [class]="widget.colSize">
            <widget-wrapper [type]="widget.type"></widget-wrapper>
        </div>
      </div>

      <div *ngIf="!editMode" class="row">
        <div *ngFor="let widget of widgets" [class]="widget-edit widget.colSize">
            <widget-wrapper [type]="widget.type"></widget-wrapper>
        </div>
      </div>

  </div>
</div>
