.icon {
  font-size: 5.5em;
  float: left;
  display: inline-block;
}

.info {
  float: left;
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
}

.unit {
  font-size: 0.5em;
  color: grey;
  vertical-align: super;
  margin-left: -15px;
}

.description {
  vertical-align: super;
  font-size: 2em;
  display: inline;
}

.wrapper {
  display: inline-block;
  float: right;
}

.temp {
  font-size: 0.8em;
  display: inline-block;
  vertical-align: top;
}

.place {
  margin-top: -5px;
}
