.icon {
  font-size: 5.5em;
  float: left;
  display: inline-block;
}

.unit {
  font-size: 0.6em;
  color: grey;
  vertical-align: super;
  margin-left: -15px;
}

.description {
  vertical-align: super;
  font-size: 0.5em;
  display: inline-block;
}

.wrapper {
  display: inline;
}

.temp {
  padding-left: 15px;
  font-size: 4.5em;
  display: inline-block;
  vertical-align: top;
}
