<div class="loading-spinner" *ngIf="loading">
    <img src="assets/img/small-spinner.gif" alt="loading">
</div>

<div class="panel panel-default" *ngIf="!loading">
  <section class="news">
    <div class="panel-heading">
      <header class="header">
        <h3>{{widgetdata.title}}</h3>
      </header>
    </div>

    <section class="main" *ngIf="feedItems.length > 0">
      <div class="panel-body">
        <ul class="news-list">
          <li *ngFor="let feed of feedItems">
            <hr />
            <div class="view">
              <a class="news-link headline" href="#" data-toggle="modal" data-target="#newsModal" (click)="selectedFeed = feed">
                {{feed.title}}
              </a>
              <p>
                <label class="author">{{feed.author}} | {{feed.pubDate}}</label>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>

  </section>
</div>

<!-- Modal -->
<div id="newsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <a href="{{selectedFeed.link}}">
          <h4 class="headline-modal">{{selectedFeed.title}}</h4>
        </a>
      </div>
      <div class="modal-body">
        <div class="divider"></div>
        <div [innerHTML]="selectedFeed.content">
        </div>
    </div>
    </div>
  </div>
</div>
