.author {
    font-size: 12px;
}

.news-list {
    list-style-type: none;
    padding-left: 15px;
}

.loading-spinner {
  text-align: center;
  padding-top: 40px;
}

.headline {
  font-weight: 400;
  color: #2c3e50;
  font-size: 20px;
}

.headline-modal {
  font-weight: 600;
  color: #2c3e50;
  font-size: 25px;
}

@media (min-width: 768px) {
  .modal-dialog {
      width: 900px;
      margin: 100px auto;
    }
}
