<div class="loading-spinner" *ngIf="loading">
    <img src="assets/img/small-spinner.gif" alt="loading">
</div>

<div class="panel panel-default" *ngIf="!loading">
  <section class="news">
    <div class="panel-heading">
      <header class="header">
        <h3>RSS News</h3>
      </header>
    </div>

    <section class="main" *ngIf="feedItems.length > 0">
      <div class="panel-body">
        <ul class="news-list">
          <li *ngFor="let feed of feedItems">
            <hr />
            <div class="view">
              <a class="news-link" href="{{feed.link}}">
                <h4 class="headline">{{feed.title}}</h4>
              </a>
              <label class="author">{{feed.author}} | {{feed.pubDate}}</label>
              <!--  <p>{{feed.description}}</p> -->
            </div>
          </li>
        </ul>
      </div>
    </section>

  </section>
</div>
