.author {
    font-size: 12px;
}

.news-list {
    list-style-type: none;
    padding-left: 15px;
}

.loading-spinner {
  text-align: center;
  padding-top: 40px;
}

.headline {
  font-weight: 300;
  color: #2c3e50;
}
