<header>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="title">dashpot</h2>
          </div>
        </div>

        <div class="row header-info">
          <div class="col-sm-10 col-sm-offset-1 text-center">
            <h1 class="wow fadeIn title">A personal dashboard <br/>based on widgets</h1>
            <br />
            <p class="lead wow fadeIn" data-wow-delay="0.5s">Dashpot is intended to be a highly customizable dashboard. <br>
            It can help you organize your daily routine by keeping track <br/> of your things and providing useful info.</p>
            <br />

            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="row">
                  <div class="col-xs-12 wow fadeInUp" data-wow-delay="1.4s">
                    <a href="#login" class="btn btn-primary btn-lg scroll">Sign in</a>
                  </div>
                </div><!--End Button Row-->
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>

    <div class="mouse-icon hidden-xs">
				<div class="scroll"></div>
		</div>


    <section id="login" class="pad-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1>What is dashpot?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae pulvinar velit. Aenean at nisl sit amet ligula eleifend tincidunt non at libero.</p>
          </div>
          <div class="login col-md-4 col-md-offset-2">
            <div class="login-form">
              <h1>Login</h1>

              <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password"  name="password" required [(ngModel)]="password">
                </div>
                <button type="Login" class="btn btn-success login-button">Login</button>
              </form>
              <h4>{{errorMessage}}</h4>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer>
      <div class="container">
        <div class="row wow fadeInUp">
          <div class="col-sm-12 text-center">
            <p><small>Copyleft &copy; 2017. All rights reserved. <br>
            Photo by <a href="https://www.flickr.com/photos/144631373@N06/28988126846/in/datetaken-public/">Jairo Velasco</a></small></p>
          </div>
        </div>

      </div>
    </footer>
