<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Sign in</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae pulvinar velit. Aenean at nisl sit amet ligula eleifend tincidunt non at libero.</p>
    </div>

    <div class="login col-md-4 col-md-offset-2" *ngIf="!passwordRecovery">
      <div class="login-form">
        <h1 id="login-title">Login</h1>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Email</label>
            <input type="email" class="form-control" id="username" name="username" required [(ngModel)]="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"  name="password" required [(ngModel)]="password">
            <a id="forgot-password" (click)="enableRecoverPassword()">Forgot your password?</a>
          </div>
          <p *ngIf="errorMessage!=''" class="alert alert-danger"><strong>Login failed! </strong>{{errorMessage}}</p>
          <button type="Login" class="btn btn-success login-button">Login</button>
        </form>
      </div>
    </div>

  <div class="login col-md-4 col-md-offset-2" *ngIf="passwordRecovery">
    <div *ngIf="labelMessage==''">
      <h2>Password Recovery</h2>
      <h4>Please, enter your email</h4>
      <input *ngIf="username==''" type="email" class="form-control" name="email-recovery" required [(ngModel)]="username" placeholder="Enter your email">
      <input *ngIf="username!=''" type="email" class="form-control" name="email-recovery" required [(ngModel)]="username">
      <p *ngIf="errorMessage!=''" class="alert alert-danger">{{errorMessage}}</p>
      <button class="btn btn-success recover-button" (click)="recoverPassword()">Recover password</button>
    </div>
    <p id="labelMessage" *ngIf="labelMessage!=''" class="alert alert-info">{{labelMessage}}</p>
  </div>

  </div>
</div>
