<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Please, sign in</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae pulvinar velit. Aenean at nisl sit amet ligula eleifend tincidunt non at libero.</p>
    </div>
    <div class="login col-md-4 col-md-offset-2">
      <div class="login-form">
        <h1 id="login-title">Login</h1>

        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required [(ngModel)]="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"  name="password" required [(ngModel)]="password">
          </div>
          <p *ngIf="errorMessage!=''" class="alert alert-danger"><strong>Login failed! </strong>{{errorMessage}}</p>
          <button type="Login" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
