<script>


var slideIndex = 1;
showSlides(slideIndex);


</script>


<div class="cover-wrapper">
  <div><img class="cover" (click)="openModal();currentSlide(1)" src="./assets/covers/es/elpais.jpg" alt="El Pais" height="220" width="160"></div>
  <div><img class="cover" (click)="openModal();currentSlide(2)" src="assets/covers/es/abc.jpg" alt="ABC" height="220" width="160"></div>
  <div><img class="cover" (click)="openModal();currentSlide(3)" src="assets/covers/es/elmundo.jpg" alt="El Mundo" height="220" width="160"></div>
  <div><img class="cover" (click)="openModal();currentSlide(4)" src="assets/covers/es/marca.jpg" alt="Marca" height="220" width="160"></div>
  <div><img class="cover" (click)="openModal();currentSlide(5)" src="assets/covers/es/mundodeportivo.jpg" alt="Mundo Deportivo" height="220" width="160"></div>
  <div><img class="cover" (click)="openModal();currentSlide(6)" src="assets/covers/uk/the_times.jpg" alt="The Times" height="220" width="160"></div>
  <div><img class="cover" (click)="openModal();currentSlide(7)" src="assets/covers/us/newyork_times.jpg" alt="New York Times" height="220" width="160"></div>
</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides">
      <div class="numbertext">1 / 7</div>
        <img src="../dist/assets/covers/es/elpais.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 7</div>
        <img src="assets/covers/es/abc.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 7</div>
        <img src="assets/covers/es/elmundo.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 7</div>
        <img src="assets/covers/es/marca.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 7</div>
        <img src="assets/covers/es/mundodeportivo.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 7</div>
        <img src="assets/covers/uk/the_times.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">7 / 7</div>
        <img src="assets/covers/us/newyork_times.jpg" style="width:100%">
    </div>


    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <div class="column">
      <img class="demo" src="assets/covers/es/elpais.jpg" onclick="currentSlide(1)" alt="El Pais" height="220" width="160">
    </div>

    <div class="column">
      <img class="demo" src="assets/covers/es/abc.jpg" onclick="currentSlide(2)" alt="ABC" height="220" width="160">
    </div>

    <div class="column">
      <img class="demo" src="assets/covers/es/elmundo.jpg" onclick="currentSlide(3)" alt="El Mundo" height="220" width="160">
    </div>

    <div class="column">
      <img class="demo" src="assets/covers/es/marca.jpg" onclick="currentSlide(4)" alt="Marca" height="220" width="160">
    </div>

    <div class="column">
      <img class="demo" src="assets/covers/es/mundodeportivo.jpg" onclick="currentSlide(5)" alt="Mundo Deportivo" height="220" width="160">
    </div>

    <div class="column">
      <img class="demo" src="assets/covers/uk/the_times.jpg" onclick="currentSlide(6)" alt="The Times" height="220" width="160">
    </div>

    <div class="column">
      <img class="demo" src="assets/covers/us/newyork_times.jpg" onclick="currentSlide(7)" alt="New York Times" height="220" width="160">
    </div>

  </div>
</div>
