<div class="cover-wrapper">
  <div><img class="cover"  src="./assets/covers/es/elpais.jpg" alt="El Pais" height="220" width="160"></div>
  <div><img class="cover"  src="./assets/covers/es/abc.jpg" alt="ABC" height="220" width="160"></div>
  <div><img class="cover"  src="./assets/covers/es/elmundo.jpg" alt="El Mundo" height="220" width="160"></div>
  <div><img class="cover"  src="./assets/covers/es/marca.jpg" alt="Marca" height="220" width="160"></div>
  <div><img class="cover"  src="./assets/es/mundodeportivo.jpg" alt="Mundo Deportivo" height="220" width="160"></div>
  <div><img class="cover"  src="assets/covers/uk/the_times.jpg" alt="The Times" height="220" width="160"></div>
  <div><img class="cover"  src="./assets/covers/us/newyork_times.jpg" alt="New York Times" height="220" width="160"></div>
</div>
