.cover-wrapper {
  padding-top: 35px;
  margin-bottom: 50px;

}

.loading-spinner {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#big-cover {
  width: 100%;
}

#addWidgetModal .modal-dialog {
  width: 55%;
}

.slicker {
  padding-top: 20px;
}
